*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-family: inherit;
  background-color: #282828;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.App {
  color: white;
  /* height: 100vh; */
  /* width: 100%; */
  background-color: #282828;
  background-size: cover;
  /* display: flex;
  justify-content: center; */
  align-items: center;
}

.calculator {
  /* height: 80vh; */
  /* width: 25%; */
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: #201c29;
  margin-bottom: 1rem;
}

.results-display {
  height: 19vh;
  font-size: 8rem;
  font-weight: 600;
  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.results-display {
  /* height: 25vh; */
  /* width: 100%; */
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;
  color: white;
  font-size: 6rem;
  /* background-color: blue; */
}

.history {
  color: black;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  margin: 10px auto;
  /* padding: 10px; */
  border: 1px solid #bbb;
  background-color: #373737;
}
/* Calculator Grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "clear clear delete divide" "nine eight seven multiply" "six five four minus" "three two one plus" "decimal zero equals equals";
}

.clear {
  grid-area: clear;
}

.delete {
  grid-area: delete;
}

.divide {
  grid-area: divide;
}

.nine {
  grid-area: nine;
}

.eight {
  grid-area: eight;
}

.seven {
  grid-area: seven;
}

.multiply {
  grid-area: multiply;
}

.six {
  grid-area: six;
}

.five {
  grid-area: five;
}

.four {
  grid-area: four;
}

.minus {
  grid-area: minus;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}

.one {
  grid-area: one;
}

.plus {
  grid-area: plus;
}

.decimal {
  grid-area: decimal;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}

button {
  height: 10rem;
  cursor: pointer;
  background-color: #1b2ae4;
  color: #e4d51b;
  font-size: 3rem;
}
